/* #0b2247 NAVBAR */
/* #050f1f BACKGROUND */
:root {}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    background-color: #050f1f !important;
}


/* start header */
header {
    height: 100px;
    background-color: #0b2247;

}

header .nav {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: #ffffff;

}

header .nav h1 {
    font-weight: 700;
}

header .nav ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

header .nav ul li {
    list-style: none;
    font-size: 20px;
    position: relative;
}

header .nav ul li a {
    text-decoration: none;
    color: white;
}

header .nav button {
    width: 50px;
    height: auto;
    color: white;
    background-color: #050f1f;
    border: 0;
    display: none;
    border-radius: 20px;
    padding: 5px;
    text-align: center;

}

header .nav ul li:hover {
    color: aqua;
    border-bottom: 1px solid aqua;
}

header .nav ul li #link .active {
    color: aqua;
    border-bottom: 1px solid aqua;
}

header .nav ul li a:hover {
    color: aqua;

}

.asideNav {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    background-color: #0b2247;
    /* display: none; */
}

.asideNav .asideBar li {
    margin-top: 10px;
    width: 100%;
    z-index: 3;
}

.asideNav .asideBar {
    list-style: none;
    color: white;
    width: 100%;
    z-index: 3;
    background-color: #0b2247;

}

.asideNav a:hover {
    color: aqua;
    border-bottom: 1px solid aqua;
}

.asideNav .asideBar a {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;


}

.asideNav .asideBar li {
    border-bottom: rgb(69, 70, 70) 1px solid;
}

.asideNav .asideBar button {
    border: none;
    width: 50px;
    height: auto;
    color: white;
    background-color: #050f1f;
    margin-top: 10px;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

@media(max-width:900px) {
    header .nav {
        justify-content: end;
    }

    header .nav ul {
        display: none;

    }

    header .nav button {
        display: block;
    }


}

@media(min-width:900px) {
    .asideNav .asideBar {
        display: none;
    }
}

.landing {
    text-align: center;
    color: white;
}

.landing .text .targetp {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

/* end header */

/* start about */
.main .head {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
}

.main .head::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: aqua;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 60px;
    gap: 30px;

}
.cards .card{
    background-color: #0b2247;
    width: 400px;

}
@media(max-width:995px){
.cards .card{
   width: 300px;
}
}
@media(max-width:770px) {
    .cards .card {
        width: 400px;
    }

}
.cards .card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    padding: 20px;
}
.cards .card p{
    color: white;
}
.cards .card>i{
    color: aqua;
    font-size:25px;
    background-color: #050f1f;
        padding: 10px;
        border-radius: 50%;
    
}
.cards .card h3{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.cards .card .text .icons{
    display: flex;
    gap: 30px;
    color: white;
    justify-content: center;
    font-size: 30px;
}
.cards .card .text .icons a{
    color: white;
    background-color: #050f1f;
    padding: 10px;
    border-radius: 50%;
}
.cards .card .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}